.is-hidden {
  display: none;
}

.is-shown {
  display: block
}


.show-mb {
  @include mq(small--max-nav) {
    display: block;
  }
}

.hide-mb {
  @include mq(small--max-nav) {
    display: none !important;
  }
}

.bold {
  font-weight: $font-bold;
}
