<button class="accordion-tabs">No hidden costs. The final price is final!</button>
<div class="panel" style="display:block;">
  <p>We provide written quotations prior to start of the work so that you are well informed about the costs and specifications of your project. Once you receive a quote from us, it is a final price. There are absolutely no hidden fees or taxes to pay on top of what you have been quoted.
  </p>
</div>

<button class="accordion-tabs">Finest quality timber which lasts</button>
<div class="panel">
  <p>We make it our top priority to <strong>select best quality materials</strong> for our timber pergolas and carports. We source our supplies from trusted suppliers to ensure the used materials are of a high standard we pursue. For timber, it is always C24 graded and treated structural pieces which are widely used and approved for modern house construction in the UK. For roofing sheets, we use versatile durable polycarbonate sheets with a UV filter.</p>
</div>

<button class="accordion-tabs">Professional standards</button>
<div class="panel">
  <p>The main focus of our professional and friendly team is to provide a great customer service. We aim to make the entire process from obtaining a quote up until carrying out the actual installation at your property as easy and hussle free as possible.</p>
</div>

<button class="accordion-tabs">Exprienced team</button>
<div class="panel">
  <p>With Timber & Glass Crafters, you are absolutely in safe hands. Our experienced team of fitters will build your structure at your property cutting every element to its required size so that every piece of your new carport or pergola will fit your property perfectly. </p>
</div>
