<button class="accordion-tabs">No hidden costs</button>
<div class="panel">
  <p>We are very transparent when it comes to estimating the cost of your project. We provide written quotations prior to star of the work so that our customers are well informed about the costs. We include labour and materials prices into our quotations and do not ask for additional payments once the work begins.</p>
</div>

<button class="accordion-tabs">Best materials</button>
<div class="panel">
  <p>It is <strong>critical to use the highest quality materials</strong> when undertaking any building works. We source our supplies from trusted merchants to ensure the materials we use are going to last. It is never worth saving on building materials as this might end up paying twice for the same job.</p>
</div>

<button class="accordion-tabs">Professional standards</button>
<div class="panel">
  <p>We are a professional and friendly team that aims for the highest customer service and experience possible. </p>
</div>

<button class="accordion-tabs">Exprienced team</button>
<div class="panel">
  <p>Our priority is to ensure all of our teams members and staff are trained experts at the job they undertake. We have many years of experience in trading and with our knowledgable team members you can rest assured that you are in good hands.</p>
</div>
