<section class="contact-short">
  <div class="contact-short__container">
    <ul class="contact-short__nav">
      <li><span class="bold">TEL:</span> <a href="tel:07511407624">07511407624</a></li>
      <li><span class="bold">EMAIL:</span> <a href="mailto:contact@tgcrafters.co.uk">contact@tgcrafters.co.uk</a></li>
    </ul>
  </div>
</section>
