<section class="intro">
  <div class="intro__container">
    <div class="intro__item">
      <h5>Video presentation &#127909;
</h5>
<div class='intro__embed-container'>

  <iframe src='https://www.youtube.com/embed/uIFShcg5cl0?showinfo=0&modestbranding=1&rel=0' frameborder='0' allowfullscreen></iframe>

</div>

      <p>Have a look at how we designed and constructed a tiny house with all the required planning permission and building regulations in place. All aspects of the build from building the timber structure through plumbing and electrics were undertaken solely by us. We have finished the building with another layer of insulation on the outside which was rendered with a special type of render for this sort of build. This made the property fireproof on the outside and very low maintenance as opposed to cladding.

</p>
    </div>

    <div class="intro__item">
      <h5>Why choose us &#128214;
      </h5>

      {% include "sections/accordion.twig" %}

    </div>
  </div>
</section>
