<section class="intro">
  <div class="intro__container">
    <div class="intro__item">
      <h5>Video presentation &#127909;
</h5>
<div class='intro__embed-container'>

  <iframe src='https://www.youtube.com/embed/uIFShcg5cl0?showinfo=0&modestbranding=1&rel=0' frameborder='0' allowfullscreen></iframe>

</div>

      <p>With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, driveway sett or home repair. We provide a professional service for private and commercial customers.

</p>
    </div>

    <div class="intro__item">
      <h5>Why choose us &#128214;
      </h5>

      {% include "sections/accordion.twig" %}

    </div>
  </div>
</section>
