<section class="intro">
  <div class="intro__container">
    <div class="intro__item">
      <h5>Find out more
</h5>
<div class='intro__embed-container'>

<img alt="timber pergola design" src="/wp-content/themes/tgcrafters-theme/img/timber-pergola-tg-crafters.png"  />
</div>

      <p>
    <strong>  <i>  Have you known that, if built properly timber structures can last as long as standard buildings made of bricks and mortar? At Timber & Glass Crafters, we strive to provide high quality products for our customers, which can last a lifetime with proper care.</i></strong>
      <br /><br />
Our crafting process starts with carefully selecting best building materials for our structures. We have a quality check implemented to guarantee only the best timber is sourced and utilised. Being imported from Scandinavia, C24 graded and treated timber pieces offer the finest structural support for our pergolas and carports. <br /><br />
All of our bespoke timber structures are discussed with our architectural consultants who calculate timber thicknesses to ensure each build meets current standards and regulations. We pride ourselves on the craftsmanship that our highly skilled and motivated team provides. Be in safe hands, choose Timber & Glass Crafters.

</p>
    </div>

    <div class="intro__item">
      <h5>High Quality Builds
      </h5>

      {% include "sections/accordion.twig" %}

    </div>
  </div>
</section>
