<section class="quote">

  <div class="quote__container">

    <div class="quote__partone">

      <svg class="icon icon--wallet" role="presentation">
        <use xlink:href="#icon-wallet"></use>
      </svg>

      <div>
        <h4>COST OF WORK</h4>
        <p>Use our form to estimate the initial cost of renovation or installation<p>
      </div>


  </div>




    <div class="quote__parttwo">
      <button class="golden-btn">
      Get a free quote
    </button>
    </div>


</div>

</section>
