<section class="quote">

  <div class="quote__container">

    <div class="quote__partone">

      <svg class="icon icon--wallet" role="presentation">
        <use xlink:href="#icon-wallet"></use>
      </svg>

      <div>
        <h4>COST OF WORK</h4>
        <p><a href="http://tgcrafters.co.uk/get-a-free-quote/">Help us estimate the cost of your projects by filling out this short form.</a><p>
      </div>


  </div>




    <div class="quote__parttwo">

      <a class="golden-btn" href="http://tgcrafters.co.uk/get-a-free-quote/">Get a free quote</a>
  
    </div>


</div>

</section>
