<section class="quote">

  <div class="quote__container">

    <div class="quote__partone">

      <svg class="icon icon--wallet" role="presentation">
        <use xlink:href="#icon-wallet"></use>
      </svg>

      <div class="quote__text">
        <h4>Get a quote in 3 easy steps!</h4>


        <div class="quote__steps">

          <div class="quote__step">
            <span class="quote__step-number">1</span> <br/>
            Measure the width and length of the area you wish to cover
          </br/>
          </div>
          <div class="quote__step">
            <span class="quote__step-number">2</span> <br / />
            Take photos of the spot where you would like the structure to be built
          </div>
          <div class="quote__step">
            <span class="quote__step-number">3</span> <br / />

            Forward us these details with your postcode
          </div>
        </div>

        <div class="quote__parttwo">
          Email the details to contact@tgcrafters.co.uk or sumbit them filling out the following form
          <br/>

        </br/>
          <a class="quote-btn golden-btn golden-btn--main-page" href="http://tgcrafters.co.uk/get-a-free-quote/">Submit details for a quote</a>

        </div>
      </div>


  </div>






</div>

</section>
