<section id="review-slider" class="review-slider">
  <div class="review-slider__container">
    <div class="company-info">
      <img src="/wp-content/themes/tgcrafters-theme/img/facebook-reviews-tgcrafters.jpg" /> 
    </div><!-- company-info-->

    <div class="slider-container">
      <div class="slider-reviews">

        <div class="single-review-box">
          <div class="fb-post" data-href="https://www.facebook.com/sara.shannon.77/posts/10221812719699513" data-show-text="true" data-width=""><blockquote cite="https://www.facebook.com/sara.shannon.77/posts/10221812719699513" class="fb-xfbml-parse-ignore"><p>We have just had our bespoke pergola installed, I was very indecisive but the team were extremely helpful.
          Installation...</p>Posted by <a href="#" role="button">Sara Shannon</a> on&nbsp;<a href="https://www.facebook.com/sara.shannon.77/posts/10221812719699513">Monday, August 10, 2020</a></blockquote></div>
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="fb-post" data-href="https://www.facebook.com/darren.arrowsmith.1/posts/10158659982138245" data-show-text="true" data-width=""><blockquote cite="https://www.facebook.com/darren.arrowsmith.1/posts/10158659982138245" class="fb-xfbml-parse-ignore"><p>Wow.
We are mega impressed with our bespoke, made to measure pagoda fixed to our house.

The process to book and measure...</p>Posted by <a href="#" role="button">Darren Arrowsmith</a> on&nbsp;<a href="https://www.facebook.com/darren.arrowsmith.1/posts/10158659982138245">Tuesday, August 11, 2020</a></blockquote></div>
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="fb-post" data-href="https://www.facebook.com/antje.piggott/posts/10217458810768686" data-show-text="true" data-width=""><blockquote cite="https://www.facebook.com/antje.piggott/posts/10217458810768686" class="fb-xfbml-parse-ignore"><p>Thank you soooo much Timber&amp;Glass Crafters!!! I’m in love with our Pergola and we can enjoy now sitting outside. What a dream 🤩
Very professional and clean work. Will definitely recommend you. Antje</p>Posted by <a href="https://www.facebook.com/antje.piggott">Antje Piggott</a> on&nbsp;<a href="https://www.facebook.com/antje.piggott/posts/10217458810768686">Sunday, August 9, 2020</a></blockquote></div>
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="fb-post" data-href="https://www.facebook.com/russell.broad.3766/posts/592790311613468" data-show-text="true" data-width=""><blockquote cite="https://www.facebook.com/russell.broad.3766/posts/592790311613468" class="fb-xfbml-parse-ignore"><p>wow!! what can i say, incredibly pleased with the result. The guys are proffessional, polite, tidy, thorough and...</p>Posted by <a href="https://www.facebook.com/russell.broad.3766">Russell Broad</a> on&nbsp;<a href="https://www.facebook.com/russell.broad.3766/posts/592790311613468">Friday, July 24, 2020</a></blockquote></div>
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="fb-post" data-href="https://www.facebook.com/adrian.woolley2/posts/3210791278951672" data-show-text="true" data-width=""><blockquote cite="https://www.facebook.com/adrian.woolley2/posts/3210791278951672" class="fb-xfbml-parse-ignore"><p>superb craftsmanship from Mike and the team - 24ftx14ft lean too built to perfection and exactly what I wanted- I am not surprised at all- book them now...</p>Posted by <a href="#" role="button">AJ Wool</a> on&nbsp;<a href="https://www.facebook.com/adrian.woolley2/posts/3210791278951672">Thursday, May 21, 2020</a></blockquote></div>
        </div><!-- single-review-box -->


      </div><!-- slider -->
  </div><!-- slider-container -->
</div>
</section><!-- review-slider -->
