<section class="reviews">
  <div class="reviews__container">
    <svg class="icon icon--reviews" role="presentation">
      <use xlink:href="#icon-discuss-issue"></use>
    </svg>
    <h5>CUSTOMER REVIEWS</h5>
  </div>

  <div class="fb-buttons">
    <div class="fb-buttons__container">
      {% include 'sections/fb_buttons.twig' %}
    </div>
  </div>
</section>
