<section id="review-slider" class="review-slider">
  <div class="review-slider__container">
    <div class="company-info">
      <div class="top-score">
        <h1>9.8</h1>
        <div class="user-score">
          <p>USER</p>
          <p>SCORE</p>
        </div><!-- user-score -->
      </div><!--top-score-->
      <span class="stars">
        <i class="material-icons">&#9734;</i>
        <i class="material-icons">&#9734;</i>
        <i class="material-icons">&#9734;</i>
        <i class="material-icons">&#9734;</i>
        <i class="material-icons">&#9734;</i>
      </span>
      <p class="total-reviews">356 Real Reviews</p>
      <img src="https://images.bestcompany.com/combo-mark-horizontal-blue@2x.png" alt="" />
    </div><!-- company-info-->

    <div class="slider-container">
      <div class="slider-reviews">

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>John Granham</p>
              <p>August 27, 2019 | Derby</p>

            </div>
          </div><!-- user-info -->

          <div class="review-content">
            "Michael did an absolutely amazing job replacing my misted double glazed units. He even was able to reproduce our flower design on the glass so that it matches all the other units that did not need replacing. He was professional throught the whole process and I would hightly recommend it for any glazing jobs."
          </div><!-- review-content -->
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>Rita Gilford</p>
              <p>September 27, 2019 | Sheffield</p>
            </div>
          </div><!-- user-info -->

          <div class="review-content">
            "Our front glass mirrors were damaged due to a break-in and TG Crafters responded quickly to carry out an emergency boarding up of our proprty. We were very thankful for the quick response."
          </div><!-- review-content -->
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>Eve Slack</p>
              <p>April 17, 2018 | Nottingham</p>
            </div>
          </div><!-- user-info -->

          <div class="review-content">
            I hired them to fix my timber window that needed some putty work! They have done such a tidy job. Highly recommended.
          </div><!-- review-content -->
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>Julie Bedford </p>
              <p>August 3, 2019 | Nottingham</p>
            </div>
          </div><!-- user-info -->

          <div class="review-content">
            "I am so glad I have hired them. They replaced out front shop glass in Nottingham in no time. Would hire again."
          </div><!-- review-content -->
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>Donna Woodward</p>
              <p>September, 2019 | Nottingham</p>
            </div>
          </div><!-- user-info -->

          <div class="review-content">
            5 stars for these guys for sorting our broken window handle. So happy to be able to close the window properly now.
          </div><!-- review-content -->
        </div><!-- single-review-box -->

      
      </div><!-- slider -->
  </div><!-- slider-container -->
</div>
</section><!-- review-slider -->
