<section id="review-slider" class="review-slider">
  <div class="review-slider__container">
    <div class="company-info">
      <div class="top-score">
        <h1>9.8</h1>
        <div class="user-score">
          <p>USER</p>
          <p>SCORE</p>
        </div><!-- user-score -->
      </div><!--top-score-->
      <span class="stars">
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
      </span>
      <p class="total-reviews">356 Real Reviews</p>
      <img src="https://images.bestcompany.com/combo-mark-horizontal-blue@2x.png" alt="" />
    </div><!-- company-info-->

    <div class="slider-container">
      <div class="slider-reviews">

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>Rita Gustafson</p>
              <p>February 27, 2017 | Omaha, NE</p>
            </div>
          </div><!-- user-info -->

          <div class="review-content">
            1-The easy process of ordering a monitor for my mom was so easy! The professionalism in which my questions &amp; concerns were handled was superb. I recommend Medical Guardian to to those who are looking for a device such as this. Thank
          </div><!-- review-content -->
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>Rita Gustafson</p>
              <p>February 27, 2017 | Omaha, NE</p>
            </div>
          </div><!-- user-info -->

          <div class="review-content">
            2-The easy process of ordering a monitor for my mom was so easy! The professionalism in which my questions &amp; concerns were handled was superb. I recommend Medical Guardian to to those who are looking for a device such as this. Thank
          </div><!-- review-content -->
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>Rita Gustafson</p>
              <p>February 27, 2017 | Omaha, NE</p>
            </div>
          </div><!-- user-info -->

          <div class="review-content">
            3-The easy process of ordering a monitor for my mom was so easy! The professionalism in which my questions &amp; concerns were handled was superb. I recommend Medical Guardian to to those who are looking for a device such as this. Thank
          </div><!-- review-content -->
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>Rita Gustafson</p>
              <p>February 27, 2017 | Omaha, NE</p>
            </div>
          </div><!-- user-info -->

          <div class="review-content">
            4-The easy process of ordering a monitor for my mom was so easy! The professionalism in which my questions &amp; concerns were handled was superb. I recommend Medical Guardian to to those who are looking for a device such as this. Thank
          </div><!-- review-content -->
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>Rita Gustafson</p>
              <p>February 27, 2017 | Omaha, NE</p>
            </div>
          </div><!-- user-info -->

          <div class="review-content">
            5-The easy process of ordering a monitor for my mom was so easy! The professionalism in which my questions &amp; concerns were handled was superb. I recommend Medical Guardian to to those who are looking for a device such as this. Thank
          </div><!-- review-content -->
        </div><!-- single-review-box -->

        <div class="single-review-box">
          <div class="user-info">
            <div class="user-rating">10</div>
            <div class="user-location">
              <p>Rita Gustafson</p>
              <p>February 27, 2017 | Omaha, NE</p>
            </div>
          </div><!-- user-info -->

          <div class="review-content">
            6-The easy process of ordering a monitor for my mom was so easy! The professionalism in which my questions &amp; concerns were handled was superb. I recommend Medical Guardian to to those who are looking for a device such as this. Thank
          </div><!-- review-content -->
        </div><!-- single-review-box -->

      </div><!-- slider -->
  </div><!-- slider-container -->
</div>
</section><!-- review-slider -->
