<section class="services">
  <div class="services__container">
    <h3>Our services</h3>
    <p class="services__intro">With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation,
    driveway sett or home repair. We provide a professional service for private and commercial customers.
    </p>
    <div class="services__box">

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="/wp-content/themes/tgcrafters-theme/img/condensation-window-glass-350.png" alt="" />

            <h4 class="img-container__title">Misted windows repairs</h4>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer...
 <a href="img-container__link">read more</a></p>

      </div>

      <div class="services__item">
        <div class="img-container">
          <img src="https://images.unsplash.com/photo-1488628075628-e876f502d67a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=" alt="" />
          <p class="img-container__title">card title</p>
          <div class="img-container__overlay"></div>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, driveway sett or home repair. We provide a professional service for private and commercial customers.</p>

      </div>

      <div class="services__item">
        <div class="img-container">
          <img src="https://images.unsplash.com/photo-1488628075628-e876f502d67a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=" alt="" />
          <p class="img-container__title">card title</p>
          <div class="img-container__overlay"></div>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, driveway sett or home repair. We provide a professional service for private and commercial customers.</p>

      </div>

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="https://images.unsplash.com/photo-1488628075628-e876f502d67a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=" alt="" />

            <p class="img-container__title">card title</p>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, driveway sett or home repair. We provide a professional service for private and commercial customers. <a href="img-container__link">Read more...</a></p>

      </div>

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="https://images.unsplash.com/photo-1488628075628-e876f502d67a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=" alt="" />

            <p class="img-container__title">card title</p>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, driveway sett or home repair. We provide a professional service for private and commercial customers. <a href="img-container__link">Read more...</a></p>

      </div>

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="https://images.unsplash.com/photo-1488628075628-e876f502d67a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=" alt="" />

            <p class="img-container__title">card title</p>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, driveway sett or home repair. We provide a professional service for private and commercial customers. <a href="img-container__link">Read more...</a></p>

      </div>

    </div>
  </div>
</section>
