<section class="services">
  <div class="services__container">
    <h3>Our key services</h3>
    <p class="services__intro">With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation,
    driveway sett or home repair. We provide a professional service for private and commercial customers.
    </p>
    <div class="services__box">

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="/wp-content/themes/tgcrafters-theme/img/condensation-window-glass-350.png" alt="" />

            <h4 class="img-container__title">Misted windows repairs</h4>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer...
 <a href="img-container__link">read more</a></p>

      </div>

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="/wp-content/themes/tgcrafters-theme/img/broken-glass-repair-350.png" alt="" />

            <h4 class="img-container__title">Broken glass replacements</h4>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer...
 <a href="img-container__link">read more</a></p>

      </div>

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="/wp-content/themes/tgcrafters-theme/img/emergency-boarding-up-service-nottingham-350.png" alt="" />

            <h4 class="img-container__title">Emergency boarding up</h4>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer...
 <a href="img-container__link">read more</a></p>

      </div>

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="/wp-content/themes/tgcrafters-theme/img/shop-front-glass-replacement-nottingham-350.png" alt="" />

            <h4 class="img-container__title">Commercial glazing</h4>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer...
 <a href="img-container__link">read more</a></p>

      </div>

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="/wp-content/themes/tgcrafters-theme/img/window-repair-nottingham-350.png" alt="" />

            <h4 class="img-container__title">Window and door repairs</h4>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer...
 <a href="img-container__link">read more</a></p>

      </div>

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="/wp-content/themes/tgcrafters-theme/img/double-glazing-single-glazing-glazier-nottingham.jpg" alt="" />

            <h4 class="img-container__title">Double and single glazing</h4>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#"> Find out more </a></div>
        </div>
        <p>Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer...
 <a href="img-container__link">read more</a></p>

      </div>

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="/wp-content/themes/tgcrafters-theme/img/bespoke-glass-balustrades.png" alt="" />

            <h4 class="img-container__title">Bespoke balustrades and mirrors</h4>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#">Bespoke balustrades </a></div>
        </div>
        <p>Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer...
 <a href="img-container__link">read more</a></p>

      </div>
      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="/wp-content/themes/tgcrafters-theme/img/handyman-services-nottingham.jpg" alt="" />

            <h4 class="img-container__title">Handyman</h4>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#">Bespoke balustrades </a></div>
        </div>
        <p>Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer...
 <a href="img-container__link">read more</a></p>

      </div>

      <div class="services__item">

        <div class="img-container">
          <a class="img-container__link" href="#">
            <img src="/wp-content/themes/tgcrafters-theme/img/bespoke-lean-to-roof-nottingham-carpenter.png" alt="" />

            <h4 class="img-container__title">Bespoke timber structures</h4>
            <div class="img-container__overlay"></div>
          </a>
          <div class="img-container__button"><a class="golden-btn" href="#">Bespoke balustrades </a></div>
        </div>
        <p>Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer...
 <a href="img-container__link">read more</a></p>

      </div>




    </div>
  </div>
</section>
