<section class="services">
  <div class="services__container">
    <h3>Our glazing services</h3>
    <p>With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation,
    driveway sett or home repair. We provide a professional service for private and commercial customers.
    </p>
    <div class="services__box">

      <div class="services__item">

        <img src="https://via.placeholder.com/330x250" />
        <h4>Emergency boarding up</h4>
        <p>j</p>

      </div>

      <div class="services__item">
        <img src="https://via.placeholder.com/330x250" />
        <h4>Misty windows</h4>
        <p>j</p>
      </div>

      <div class="services__item">
        <img src="https://via.placeholder.com/330x250" />
        <h4>j</h4>
        <p>j</p>
      </div>

    </div>
  </div>
</section>
