{% extends "base.twig" %}
{% block content %}
  <section>
    <style scoped>
    .slide1 {
      background-image: url("/wp-content/themes/tgcrafters-theme/img/bespoke-timber-pergola-mb.jpg") !important;
    }
    .slide2 {
      background-image: url("/wp-content/themes/tgcrafters-theme/img/bespoke-timber-carports-header-image-mb.png") !important;
    }
    .slide3 {
      background-image: url("/wp-content/themes/tgcrafters-theme/img/decking-installation-mb.png") !important;
    }
    @media screen and (min-width: 750px) {
      .slide1 {
        background-image: url("/wp-content/themes/tgcrafters-theme/img/bespoke-timber-pergola.jpg") !important;
      }
      .slide2 {
        background-image: url("/wp-content/themes/tgcrafters-theme/img/bespoke-timber-carports-header-image.png") !important;
      }
      .slide3 {
        background-image: url("/wp-content/themes/tgcrafters-theme/img/decking-installation.png") !important;
      }
    }
    @media screen and (min-width: 1000px) {

    }

  </style>
  <div class="container-slider">
<div class="slider">
  <input type="radio" name="slideSelectors" id="sl1" class="selectors" checked>
  <div class="slide1 slides">
    <div class="content">

      <h1>Bespoke timber peroglas</h1>
      <p><strong>Bespoke timber pergolas</strong> crafted and installed at the site by our highly skilled team to fit your space perfectly.
          <br/><br/></p>
      <button class="btns">Find out more</button>
    </div>
    <label for="sl3" class="prev"></label>
    <label for="sl2" class="next"></label>
  </div>
  <input type="radio" name="slideSelectors" id="sl2" class="selectors">
  <div class="slide2 slides">
    <div class="content">

      <h1>Timber carports</h1>
      <p>Protect one of your most valuable progressions with our bespoke timber carport. We provide a completely hassle-free supply&installation service.</p>
      <button class="btns">Explore</button>
    </div>
    <label for="sl1" class="prev"></label>
    <label for="sl3" class="next"></label>
  </div>
  <input type="radio" name="slideSelectors" id="sl3" class="selectors">
  <div class="slide3 slides">
    <div class="content">
      <h1>Decking installation</h1>
      <p>It has never been a better time to get your patio decked. Bundle deals available for both decking and pergola installations!</p>
      <button class="btns">Explore</button>
    </div>
    <label for="sl2" class="prev"></label>
    <label for="sl1" class="next"></label>
  </div>
  <input type="radio" name="slideSelectors" id="sl4" class="selectors">

  <input type="radio" name="slideSelectors" id="sl5" class="selectors">

  <div class="nav">
    <label for="sl1" class="dots dot1"></label>
    <label for="sl2" class="dots dot2"></label>
    <label for="sl3" class="dots dot3"></label>
  </div>
</div>
</div>
  </section>
  {% include 'sections/contact-short.twig' %}

  {% include 'sections/services.twig' %}
  {% include 'sections/quote.twig' %}
  {% include 'sections/intro.twig' %}
  {% include 'sections/reviews.twig' %}

  {% include 'sections/review-slider.twig' %}

  {% include 'sections/contact.twig' %}
{% endblock %}
