{% extends "base.twig" %}
{% block content %}
  <section>
    <style scoped>
    .slide1 {
      background-image: url("/wp-content/themes/tgcrafters-theme/img/bespoke-timber-pergola-mb.jpg") !important;
    }
    .slide2 {
      background-image: url("/wp-content/themes/tgcrafters-theme/img/bespoke-timber-carports-header-image-mb.png") !important;
    }
    .slide3 {
      background-image: url("/wp-content/themes/tgcrafters-theme/img/decking-installation-mb.png") !important;
    }
    @media screen and (min-width: 750px) {
      .slide1 {
        background-image: url("/wp-content/themes/tgcrafters-theme/img/bespoke-timber-pergola.jpg") !important;
      }
      .slide2 {
        background-image: url("/wp-content/themes/tgcrafters-theme/img/bespoke-timber-carports-header-image.png") !important;
      }
      .slide3 {
        background-image: url("/wp-content/themes/tgcrafters-theme/img/decking-installation.png") !important;
      }
    }
    @media screen and (min-width: 1000px) {

    }

  </style>
    <div class="wrap">
      <div id="slider" class="slider">
        <div class="slide slide1" id="slide1" data-bg="">
          <div class="slider__container">

            <div class="slider__box">

              <div class="slider__box__heading">
                <h1>Bespoke timber peroglas</h1>
              </div>
              <div class="slider__box__content">
                <p><strong>Bespoke timber pergolas</strong> crafted and installed at the site by our highly skilled team to fit your space perfectly.
                  <br/><br/>
                  Get in touch to get a FREE quote.</p><br/>
                <a title="Learn more about bespoke timber peroglas" href="https://tgcrafters.co.uk/get-a-free-quote/">
                  <button>GET A QUOTE</button>
                </a>

              </div>
            </div>

          </div>
        </div>
        <div class="slide slide2" id="slide2" data-bg="">
          <div class="slider__container">

            <div class="slider__box">

              <div class="slider__box__heading">
                <h1>Timber carports</h1>
              </div>
              <div class="slider__box__content">
                <p>
                  Protect one of your most valuable progressions with our bespoke timber carport. We provide a completely hassle-free supply&installation service.
                  <br/><br/>
                  Get in touch to get a FREE quote.</p><br/>
                <a title="Bespoke timber carports" href="https://tgcrafters.co.uk/timber-carports/">
                  <button>Find out more</button>
                </a>

              </div>
            </div>

          </div>
        </div>

        <div class="slide slide3" id="slide3" data-bg="/wp-content/themes/tgcrafters-theme/img/broken-glass-window-replacement-nottingham.jpg">
          <div class="slider__container">

            <div class="slider__box">

              <div class="slider__box__heading">
                <h1>Decking installation</h1>
              </div>
              <div class="slider__box__content">
                <p>
                  It has never been a better time to get your patio decked. Bundle deals available for both decking and pergola installations!
                </p><br/>
                <a title="Find out about decking installations" href="https://tgcrafters.co.uk/decking-supply-installation/">
                  <button>Find out more</button>
                </a>

              </div>
            </div>

          </div>
        </div>

      </div>
      <div id="arrow-left" class="arrow"></div>

      <div id="arrow-right" class="arrow"></div>
    </div>

  </section>
  {% include 'sections/contact-short.twig' %}

  {% include 'sections/services.twig' %}
  {% include 'sections/quote.twig' %}
  {% include 'sections/intro.twig' %}
  {% include 'sections/reviews.twig' %}

  {% include 'sections/review-slider.twig' %}

  {% include 'sections/contact.twig' %}
{% endblock %}
