{% extends "base.twig" %}
{% block content %}
<section class="page-header" style="background-image: url('/wp-content/themes/tgcrafters-theme/img/condensation_header.jpg');
">
  <div class="page-header__container">
    <h1>Misted windows replacements</h1>
  </div>

</section>
<section class="contact-short">
  <div class="contact-short__container">
    <ul class="contact-short__nav">
      <li><span class="bold">TEL:</span> <a href="tel:07511407624">07511407624</a></li>
      <li><span class="bold">EMAIL:</span> <a href="mailto:contact@tgcrafters.co.uk">contact@tgcrafters.co.uk</a></li>
    </ul>
  </div>
</section>

<section class="page">
  <div class="page__container">
    <div class="page__section page__section--main">
      <h2>Misted window repairs in East Midlands</h2>
      <p class="page__intro">Are you experiencing condensation between your double glazed windows? Have you wondered how much the look of your home could be enhanced, if you had the glass replaced? Finally, wouldn’t you prefer to have clear glass just to be able to see the outside clearly?
</p>
<p>
Why do double glazed units display condensation between glass panes? <br/><br/>

Double glazed units are basically made of two glass panes with an air gap in between them. The gap is required to stop the heat from your home to escape outside. When the seal around the gap deteriorates over time, the water accesses it and causes condensation because of the different temperatures of the glass panes on both sides.




The good news is, there is no need to replace the entire frame or the window itself if this happens. In majority of the cases, the misted glass unit needs replacing. At Timber&Glass Crafters Ltd, we have a team of specialised glaziers, who are experts at replacing misted double glazed glass units of any size.

Our glaziers are highly experienced at replacing glass in a variety of frames ensuring your home stays safe, warm and secure all year round.

</p>
<p>
If your windows start becoming misty, just contact us and we will solve this problem for you.
</p>

    </div>
    <div class="page__section--second">
      <div class="call">
        <h3>Call us on</h3>
        <p><a href="tel:07511407624">07511407624</a></p>
      </div>

      <div class="fb-div">
        <a href="">
          <svg class="icon icon--fb-sidebar" role="presentation">
            <use xlink:href="#icon-facebook-2"></use>
          </svg>
          To see our latest projects,<br/>
          <span class="bold">visit us on Facebook</span>
        </a>
      </div>

    </div>

  </div>
</section>



{% endblock %}
