{% extends "base.twig" %}

{% block content %}

<header class="post-header">
  {#This is not ideal, but IE11 has no support for srcset or object-fit, and Edge is patchy.#}
  {#Also, the image comes form the post, so can't be in the CSS as `attr` only works on `content`.#}

  <style scoped>

    {% if (hero_img.hero_image_cover.sizes) %}

      .post-header {
        background-image: url('{{hero_img.hero_image_cover.sizes.large}}');
      }

      @media screen and (min-width: 750px) {
        .post-header {
          background-image: url('{{hero_img.hero_image_cover.url}}');
        }
      }

    {% endif %}


  </style>

<h1 class="post-header__title">{{post.title}}</h1>

</header>
<section class="post">
  <div class="post__container post--blog">
    {{post.content}}
  </div>
</section>

{% endblock %}
