$content-margin: 1rem;

$header-height: 4rem;
$main-menu-width: 19.5rem;
$container-width: 75rem;
$container-width--narrow: 51rem;
$container-width--medium: 64rem;
$container-width--large: 80rem;

$radius: 3px;
