.contact-short {
  background-color: $gold-company;
  &__container {
    @include container();
    padding: $content-margin;
    color: $grey-company;
    text-align: center;
    font-weight: bold;
  }
  &__nav {
    margin: 0;
    padding: 0;
    height: 1.5rem;
    display: inline-block;
    li {
      list-style: none;
      display: inline-block;
      a {
        color: $grey-company;
        text-decoration: none;
        padding-right: $content-margin * 2;
      }
    }
  }
}
