.footer {
  font-family: $font-releway;
  background-color: $bg-gray;
  &__container {
    @include container();
    h4 {
      font-size: $base-font-size;
      font-family: $font-releway;
      font-weight: $font-normal;
    }
    p {
      font-size: $small-font-size;
    }
    &--top {
      display: flex;
      border-bottom: 1px solid $color-gray-light;
    }
    &--bottom {
      display: flex;
      @include mq(medium--max) {
        flex-direction: column;
      }
    }
    &__item {
      width: 25%;
      @include mq(medium--max) {
        width: 100%;
      }
      padding: $content-margin  ($content-margin * 2)  $content-margin 0;
      ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        li {
          a {
            color: $color-black;
          }
        }
      }
    }
  }
  &__logo {
    max-width: 9rem;
  }
  &__copyright {
    background-color: $color-gray;
    &__container {
      @include container();
      text-align: center;
      color: $color-gray-lighter;
      font-size: $small-font-size;

      a {
        color: $color-gray-lighter;
        text-decoration: none;
      }
    }
  }
}
