.top-nav {
  height: 40px;
  background-color: $color-gray-lightest;
  color: $color-gray;
  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    font-size: $small-font-size;
    font-family: $font-lato;
    position: relative;
  }
  a {
    color: $color-gray;
    text-decoration: none;
  }
}

.header {
  &__container {
    max-width: $container-width--large;
    height: $header-hight;
  }
  &__logo {
    line-height: 0;
    margin-top: ($content-margin);
    img {
      width: 100px;
    }
  }
  &__information {
    font-size: $small-font-size;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    line-height: 1.6;
    font-family: $font-raleway;
    height: $header-hight;
    color: $color-gray;
    &--boxone {
      padding-right: $content-margin * 2;
      display: flex;
      align-items: center;
      a {
        border: 1px solid $gold-company !important;
        padding: 3px;
      }
    }
    &--boxtwo {
      display: flex;
      align-items: center;
    }
    span {
      font-size: $base-font-size;
      a {
        text-decoration: none;
        color: $color-gray;
      }
      .arrows {
        position: relative;
        bottom: 2px;
      }
    }
  }
}


.navigation {
  border-top: 1px solid $color-gray-lightest;
  background-color: $color-white;
  &__link {
    color: $color-black;
    font-family: $font-releway;
  }
  &__container {
    max-width: $container-width;
    margin: 0 auto;
  }
  &__secondary {
      top: -10rem;
    a {
      font-size: $small-font-size;
    }
  }
}

.usa-nav-primary>li>a {
  color: $color-black;
  font-family: $font-releway;
  padding: 1rem 1.5rem;
  font-size: $base-font-size;
}

.usa-menu-btn {
  background-color: $grey-company;
}

nav.usa-nav {
  //border-top: 1px solid $color-border;
  border-top: none;
  border-bottom: none;
}

.usa-nav-link:hover {
  span {
    border-bottom: .4rem solid $gold-company;
    color: $color-gray;
  }
}

.usa-nav.is-visible {
  display: inline;
  width: 20rem;
}

.usa-navbar {
  border-bottom: none;
  position: absolute;
  top: 0;
  right: 0;
}


.usa-nav-primary {
  span {
    color: $grey-company;
  }
  button[aria-expanded=true] {
    background-color: $color-white !important;
    color: $grey-company !important;
    background-image: url('./dist/img/angle-arrow-up.svg');
    background-position: right 0.4rem top 40%;
    background-size: 11px;

    span {
      color: $grey-company;
    }
  }
  &:hover {
    background-color: $color-white;
    color: $grey-company;
    border-bottom: .4rem solid $gold-company;
    background-position: right 0.4rem top 40%;
    background-size: 11px;
    border-bottom: none;
    span {
      color: $grey-company;
    }
  }
  button {
    padding: 0;
    font-size: $base-font-size;
    font-family: $font-releway;
    color: $color-black;
  }
}

@media screen and (min-width: 951px) {
  .usa-nav-primary button[aria-expanded=false] {
    background-position: right 0.4rem top 40%;
    background-size: 11px;
  }
}




.usa-nav-submenu {
  background-color: $color-white;
  a {
    color: $color-black;
    font-size: $base-font-size;
    font-family: $font-releway;
    background-color: $color-white;
    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }
}
