@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Trade+Winds&display=swap");

@mixin small {
  @media all and (max-width: 640px) {
    @content;
  }
}
@mixin medium {
  @media all and (min-width: 641px) {
    @content;
  }
}
@mixin large {
  @media all and (min-width: 1000px) {
    @content;
  }
}
:root {
  --color1: floralwhite;
  --color2: rgb(12, 12, 12);
  --color3: rgb(255, 0, 76);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.section-slider {
  position: relative;
}
body {
  width: 100%;
  overflow-x: hidden;
  .container-slider {
    @include mq(medium--max) {
      height: 68vh;
      min-width: 320px;
      min-height: 434px;
    }
    width: 100%;
    height: 90vh;
    min-width: 360px;
    min-height: 480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    .slider {
      a {
        @include mq(medium--max) {
          text-align: center;
        }
      }
      @include small {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 0;
      }
      @include medium {
        width: 100%;
        height: 100%;
      }
      @include large {
        width: 100%;
        height: 100%;
      }
      position: relative;
      background-color: var(--color2);
      opacity: 0;
      animation: fadeIn 2000ms ease-in-out 1500ms forwards;
      overflow: hidden;
      .selectors {
        display: none;
      }
      .slides {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10% 12%;
        opacity: 0;
        transition: all 1000ms ease-in;
        @include small {
          padding: 10% 9%;
          border-radius: 0;
        }
        .content {
          @include mq(medium--max) {
            line-height: 1.7;
          }
          background-color: rgba($color: rgb(12, 12, 12), $alpha: 0.7);
          padding: 1.5rem 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: "Poppins", sans-serif;
          border-radius: 0px;
          color: var(--color1);
          transform: translateY(-500%);
          opacity: 0;
          transition: all 600ms ease-out 1000ms;
          @include small {
            padding: 1.25rem 0.75rem;
          }
          h1 {
            align-self: flex-start;
            font-weight: 600;
            margin-bottom: 1rem;
            padding-bottom: 0.25rem;
            border-bottom: 3px $gold-company solid;
            border-radius: 0 0 5px 5px;
          }
          h2 {
            align-self: flex-start;
            font-weight: 600;
            margin-bottom: 1rem;
            padding-bottom: 0.25rem;
            border-bottom: 3px $gold-company solid;
            border-radius: 0 0 5px 5px;
          }
          p {
            line-height: 1.5rem;
            margin-bottom: 1.5rem;
          }
          .btns {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 15px;
            //background-color: rgb(0, 255, 170);
            background-color: var(--color3);
            color: var(--color2);
            font-weight: 600;
            transition: all 500ms;
            cursor: pointer;
          }
          .btns:hover {
            background-color: rgb(0, 0, 0);
            color: var(--color1);
          }
          .btns:active {
            transform: translateY(7px);
          }
        }
        .prev,
        .next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 32px;
          height: 32px;
          box-shadow: -3px 3px var(--color1);
          transition: all 150ms ease-in-out;
          cursor: pointer;
          z-index: 10;
          @include small {
            width: 24px;
            height: 24px;
          }
        }
        .prev {
          left: 3%;
          transform: rotate(45deg);
        }
        .next {
          right: 3%;
          transform: rotate(-135deg);
        }
        .prev:active,
        .next:active {
          box-shadow: -3px 3px $gold-company;
        }
      }
      .slide1 {
        background: center no-repeat
          url("https://unsplash.com/photos/qpi-XEUrN6s/download?force=true&w=1920");
        background-size: cover;
      }
      .slide2 {
        background: bottom no-repeat
          url("https://unsplash.com/photos/eDXXS3J4jbU/download?force=true&w=1920");
        background-size: cover;
      }
      .slide3 {
        background: center no-repeat
          url("https://unsplash.com/photos/t1MvZ7c3EyA/download?force=true&w=1920");
        background-size: cover;
      }
      .slide4 {
        background: center no-repeat
          url("https://unsplash.com/photos/uc9GjDHj1yA/download?force=true&w=2400");
        background-size: cover;
      }
      .slide5 {
        background: bottom no-repeat
          url("https://unsplash.com/photos/8qCtP97jgoE/download?force=true&w=1920");
        background-size: cover;
      }
      .nav {
        position: absolute;
        bottom: 5%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        z-index: 10;
        .dots {
          display: block;
          width: 25px;
          height: 12px;
          background-color: var(--color1);
          border-radius: 10px;
          margin: 0 5px;
          transition: all 150ms ease-in-out;
          cursor: pointer;
        }
        .dots:active {
          transform: scale(1.2);
        }
      }
      .selectors:checked + .slides {
        z-index: 5;
        opacity: 1;
      }
      .selectors:checked + .slides .content {
        transform: translateY(0%);
        opacity: 1;
      }
      #sl1:checked ~ .nav .dot1,
      #sl2:checked ~ .nav .dot2,
      #sl3:checked ~ .nav .dot3,
      #sl4:checked ~ .nav .dot4,
      #sl5:checked ~ .nav .dot5 {
        background-color: $gold-company;
        transform: scale(1.1);
      }
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-color: rgb(192, 192, 192);
  }
}
