.page-header {
  background-size: cover;
  background-position: 50%;
  text-align: center;
  background-color: $color-gray;

  h1 {
    color: $color-white;
    @include text_shadow();
    margin: $content-margin * 4;
    @include mq(medium--max) {
      font-size: $largest-font-size;
      margin: $content-margin * 3 $content-margin * 2;
    }
  }
  &__container {
    @include container();
  }
}


.page {
  &__container {
    @include container();
    display: flex;
    @include mq(medium--max) {
      flex-direction: column;
    }
  }
  &__intro {
    font-size: $medium--small-font-size;
    line-height: 1.4;
  }
  &__section {
    &--main {
      width: 70%;
      border-right: 1px solid $color-gray-lightest;
      padding-right: $content-margin;
      @include mq(medium--max) {
        border: none;
        padding-right: 0;
        width: 100%;
      }
    }
    &--second {
      li {
        a {
          text-decoration: none;
          color: $grey-company;
          font-weight: bold;
        }
      }
      width: 30%;
      padding-left: $content-margin;
      @include mq(medium--max) {
        padding-left: 0;
        width: 100%;
      }
      .fb-div {
        background-color: $color-fb;
        color: $color-white;
        text-align: center;
        padding: $content-margin * 2 $content-margin;
        font-size: $medium-font-size;
        @include link_white();
        margin: $content-margin * 2 0;

      }
      .call {
        text-align: center;
        margin-bottom: $content-margin * 2;
        border-bottom: 1px dotted $color-gray-lightest;
        p {
          font-size: $medium-font-size;
          @include link_black();
          a {
            color: $color-white;
          }
        }
        h3 {
          margin: 0;
          padding: 0;
          color: $color-white;
        }
      }
    }
    h2 {
      font-size: $large-font-size;
      margin: 0;
    }
  }
  &--contact-form {
    background-size: cover;
    background-position: 50%;
    color: $grey-company;
    background-color: $color-white;
    label{
      margin-top: 0;
      width: 100%;
      font-weight: bold;
    }
    textarea,
    input {
      background: transparent !important;
      border: 1px solid $color-gray-light;
      color: $grey-company !important;
      font-weight: normal !important;
      &:focus {
        background: rgba(160, 206, 76, .1) !important;
        border-color: #f7c51e !important;
        color: $grey-company !important;
      }
    }
    .wpcf7-submit {
      background-color: $gold-company !important;
      color: $color-black !important;
      padding: $content-margin * 1 !important;
    }
    .nf-error .ninja-forms-field {
      border-color: #f7c51e !important;
    }
    .nf-error.field-wrap .nf-field-element:after {
      background: #f7c51e !important;
    }
    .nf-error .nf-error-msg,
    .nf-error-msg, .ninja-forms-req-symbol {
      color: #f7c51e !important;
    }

  }
  &__blog-item {
    a {
      display: inline-block;
      margin: $content-margin * 2 0;
      color: $color-base;
      img {
        float: left;
        margin-right: $content-margin * 2;
        width: 20%;
      }
      h2 {
        display: inline;
        width: 75%;
      }
      &:hover {
        text-decoration: none;
        color: $grey-company;
      }
    }
  }
}
