.post-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 11rem;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: $color-gray;
  &__title {
    @include text_shadow();
    color: $color-white;
    font-weight: 700;
    text-align: center;
    font-size: $largest-font-size;
    line-height: 1.5em;
    margin: 0;
  }
}

.post {
  &__container {
    @include container();
    display: flex;
    @include mq(medium--max) {
      flex-direction: column;
    }
  }
}
