$base-font: 16px;
$base-line-height: 2;

$font-lato: 'Lato', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$weight: 300;
$weight--bold: 400;
$weight--black: 700;

html {
  font-size: $base-font;
}
