$base-font: 16px;
$base-line-height: 2;

$font-lato: 'Lato', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$weight: 300;
$weight--bold: 400;
$weight--black: 700;


html {
  font-size: $base-font;
}
body, h1, h2, h3, h4, h5, p, a {
  font-family: $font-raleway;
}
a {
  text-decoration: none;
}


button:not([disabled]):focus, input:not([disabled]):focus, select:not([disabled]):focus, textarea:not([disabled]):focus {
    outline: none;

}
